<header>
    <nav class="nav-container">
        <div class="logo"><a href="{% url "recipes:home" %}">Logo</a></div>
        <ul class="menu">
            <li class="menu-item"><a href="/">Categories</a></li>
            <li class="menu-item"><a href="/">About</a></li>
            <li class="menu-item"><a href="/">Contact</a></li>
        </ul>
        <form action="" class="search-form">
            <input type="search" class="search-input">
            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <ul class="auth-container">
            <li><a href="">Log in</a></li>
            <li><a href="">Sign up</a></li>
        </ul>
    </nav>
</header>