<header>
    <nav class="nav-container">
        <div class="logo">Logo</div>
        <ul class="menu">
            <li class="menu-item">Categories</li>
            <li class="menu-item">About</li>
            <li class="menu-item">Contact</li>
        </ul>
        <form action="" class="search-form">
            <input type="search" class="search-input">
            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <ul class="auth-container">
            <li>Log in</li>
            <li>Sign up</li>
        </ul>
    </nav>
</header>