{% include 'recipes/partials/head.html' %}

<body>
    {# {{}} → use variable from context% #}

    <header>
        <nav class="nav-container">
            <div class="logo">Logo</div>
            <ul class="menu">
                <li class="menu-item">Categories</li>
                <li class="menu-item">About</li>
                <li class="menu-item">Contact</li>
            </ul>
            <form action="" class="search-form">
                <input type="search" class="search-input">
                <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul class="auth-container">
                <li>Log in</li>
                <li>Sign up</li>
            </ul>
        </nav>
    </header>

    <main class="main-homepage">
        <div class="image-container"></div>

        <div class="recipes-homepage-container">
            <div class="recipe-container">
                <img class="recipe-image" src="https://www.solidbackgrounds.com/images/1280x720/1280x720-red-munsell-solid-color-background.jpg" alt="Recipe Image">
                <div class="recipe-content">
                    <span>Food Name</span>
                </div>
            </div>
    
            <div class="recipe-container">
                <img class="recipe-image" src="https://www.solidbackgrounds.com/images/1280x720/1280x720-red-munsell-solid-color-background.jpg" alt="Recipe Image">
                <div class="recipe-content">
                    <span>Food Name</span>
                </div>
            </div>
    
            <div class="recipe-container">
                <img class="recipe-image" src="https://www.solidbackgrounds.com/images/1280x720/1280x720-red-munsell-solid-color-background.jpg" alt="Recipe Image">
                <div class="recipe-content">
                    <span>Food Name</span>
                </div>
            </div>
    
            <div class="recipe-container">
                <img class="recipe-image" src="https://www.solidbackgrounds.com/images/1280x720/1280x720-red-munsell-solid-color-background.jpg" alt="Recipe Image">
                <div class="recipe-content">
                    <span>Food Name</span>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>