{% extends "recipes/base/base.html" %}
{% load static %}

{# {{}} → use variable from context% #}
{% block content %}
<div class="recipes-homepage-container">
    <div class="recipe-container">
        <img class="recipe-image" src="{% static 'recipes/images/template-image.jpg' %}">
        <div class="recipe-content">
            <span>Food Name</span>
        </div>
    </div>

    <div class="recipe-container">
        <img class="recipe-image" src="{% static 'recipes/images/template-image.jpg' %}" alt="Recipe Image">
        <div class="recipe-content">
            <span>Food Name</span>
        </div>
    </div>

    <div class="recipe-container">
        <img class="recipe-image" src="{% static 'recipes/images/template-image.jpg' %}" alt="Recipe Image">
        <div class="recipe-content">
            <span>Food Name</span>
        </div>
    </div>

    <div class="recipe-container">
        <img class="recipe-image" src="{% static 'recipes/images/template-image.jpg' %}" alt="Recipe Image">
        <div class="recipe-content">
            <span>Food Name</span>
        </div>
    </div>
</div>
{% endblock content %}