{% load static %}
{% include 'recipes/partials/head.html' %}

<body>
    {# {{}} → use variable from context% #}

    {% include 'recipes/partials/header.html' %}

    <main class="main-homepage">
        <div class="image-container"></div>

        <div class="recipes-homepage-container">
            <div class="recipe-container">
                <img class="recipe-image" src="{% static 'recipes/images/template-image.jpg' %}">
                <div class="recipe-content">
                    <span>Food Name</span>
                </div>
            </div>
    
            <div class="recipe-container">
                <img class="recipe-image" src="{% static 'recipes/images/template-image.jpg' %}" alt="Recipe Image">
                <div class="recipe-content">
                    <span>Food Name</span>
                </div>
            </div>
    
            <div class="recipe-container">
                <img class="recipe-image" src="{% static 'recipes/images/template-image.jpg' %}" alt="Recipe Image">
                <div class="recipe-content">
                    <span>Food Name</span>
                </div>
            </div>
    
            <div class="recipe-container">
                <img class="recipe-image" src="{% static 'recipes/images/template-image.jpg' %}" alt="Recipe Image">
                <div class="recipe-content">
                    <span>Food Name</span>
                </div>
            </div>
        </div>
    </main>

    {% include 'recipes/partials/footer.html' %}
</body>

</html>